.backoffice {
  max-width: 1150px;
  margin: auto;
}

/* CURRICULUMS */
.curriculums {
  margin-top: 32px;
}

.curriculums h1 {
  margin: 0 0 12px;
}

.curriculums-list {
  display: flex;
  gap: 8px;
}

.curriculums-list .curriculum {
  display: flex;
  flex-direction: column;

  border: 1px solid var(--secondary);
  border-radius: 8px;
  background-color: white;

  padding: 20px;
}

.curriculums-list .curriculum .curriculum-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.curriculums-list .curriculum .curriculum-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary);
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 50%;
}

.curriculums-list .curriculum .curriculum-avatar img {
  width: 100%;
}

.curriculums-list .curriculum .curriculum-info * {
  margin: 0;
  text-align: center;
}

.curriculums-list .curriculum .curriculum-options {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;

  margin-top: 8px;
  padding-top: 8px;
  border-top: 1px solid var(--secondary);
}
