/* FLOATING BUTTON */
.floating-button {
  position: fixed;
  bottom: 35px;
  right: 35px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 55px;
  height: 55px;
  border-radius: 50%;

  background-color: var(--primary);
  color: white;
}

.floating-button i {
  font-size: 20px;
}

/* PROFILE */
.profile {
  max-width: 1150px;
  margin: auto;
  border: 4px solid var(--primary);
}

/* PROFILE HEADER */
.profile .profile-header {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 64px;
  padding: 32px 0;

  background-color: aliceblue;
}

.profile .profile-header .profile-picture {
  width: 150px;
  border-radius: 50%;
}

.profile .profile-header .profile-header-info > * {
  margin: 0;
  color: var(--primary);
}

.profile .profile-header .profile-header-info h2 {
  font-size: 20px;
  font-weight: 500;
}

.profile .profile-header .profile-header-info h1 {
  font-size: 42px;
  letter-spacing: 4px;
  font-weight: 700;
}

.profile .profile-header .profile-header-info h4 {
  letter-spacing: 2px;
  font-weight: 400;
}

@media only screen and (max-width: 768px) {
  .profile .profile-header {
    padding: 32px;
    flex-direction: column;
    gap: 32px;
  }

  .profile .profile-header {
    text-align: center;
  }
}

/* PROFILE BODY */
.profile .profile-body {
  display: flex;
  border-bottom: 4px solid var(--primary);
  border-top: 4px solid var(--primary);
  background-color: white;
}

.profile .profile-body .col {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 20px;
}

.profile .profile-body .col:first-child {
  flex: 1;
  outline: 1px solid var(--primary);
  /*   border-right: 1px solid var(--primary); */
}

.profile .profile-body .col:first-child::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border: 10px solid transparent;
  border-top: 10px solid var(--primary);
  border-right: 10px solid var(--primary);
  width: 0;
  height: 0;
}

.profile .profile-body .col:last-child {
  flex: 2;
  outline: 1px solid var(--primary);
  /*   border-left: 1px solid var(--primary); */
}

.profile .profile-body .col:last-child::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: 10px solid transparent;
  border-top: 10px solid var(--primary);
  border-left: 10px solid var(--primary);
  width: 0;
  height: 0;
}

.profile .profile-body h2 {
  font-size: 24px;
  letter-spacing: 2px;
  margin: 0 0 8px 0;
  font-weight: 800;
}

.profile .profile-body h4 {
  font-size: 18px;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .profile .profile-body {
    flex-direction: column-reverse;
  }

  .profile .profile-body .col {
    border: 0 !important;
  }

  .profile .profile-body .col:first-child::before,
  .profile .profile-body .col:last-child::before {
    display: none;
  }
}

/* PROFILE BODY - CONTACTS */
.profile .profile-body .info-section > *:not(h2) {
  display: flex;
  align-items: center;

  gap: 4px;
  border-bottom: 1px solid var(--primary);
}

.profile .profile-body .info-section a {
  display: flex;
  align-items: center;
}

.profile .profile-body .info-section i {
  display: flex;
  justify-content: center;

  width: 44px;
  padding: 4px 0;
  background-color: var(--primary);

  margin-right: 4px;
}

.profile .profile-body .info-section i::before {
  color: white;
}

/* PROFILE BODY - SKILLS */
.profile-body .skills-section > div {
  display: flex;
  align-items: center;

  border-bottom: 1px solid var(--primary);
  padding: 12px 0;
}

.profile-body .skills-section > div p {
  margin: 0;
  flex: 1;
  white-space: wrap;
}

.profile-body .skills-section > div ul {
  flex: 1;

  display: flex;
  justify-content: center;
  gap: 4px;

  list-style: none;
  padding: 0;
  margin: 0;
}

/* PROFILE BODY - EDUCATION */
.profile-body .education-section .education:not(:last-child) {
  margin-bottom: 32px;
}

.profile-body .education-section .education * {
  margin: 0;
  line-height: 2rem;
}

.profile-body .education-section .education .education-date {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 4px;
}

/* PROFILE BODY - PROFILE */
.profile-body .profile-section p {
  text-align: justify;
  line-height: 2rem;
}

/* PROFILE BODY - EXPERIENCE */
.profile-body .experience-section .experience:not(:last-child) {
  margin-bottom: 32px;
}

.profile-body .experience-section .experience .experience-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-body .experience-section .experience .experience-date {
  display: flex;
  align-items: center;
  gap: 8px;
}

.profile-body .experience-section .experience p {
  margin: 0;
  line-height: 2rem;
}

.profile-body .experience-section .experience ul {
  margin: 0;
}

@media only screen and (max-width: 576px) {
  .profile-body .experience-section .experience .experience-title {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
}

/* PROFILE FOOTER */
.profile-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: white;
}

.profile-footer h1 {
  letter-spacing: 2px;
}
