.edit {
  display: flex;
  align-items: flex-start;
  gap: 32px;

  margin-top: 32px;
}

.edit > .col {
  background: var(--white);
  border: 1px solid var(--primary);
  border-radius: 8px;
}

.edit > .col:first-child {
  flex: 1;
}

.edit > .col:last-child {
  flex: 2;
}

/* NAVIGATION */
.edit > nav {
  position: sticky;
  top: 32px;
  overflow: hidden;
}

.edit > nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.edit > nav ul li {
  display: flex;

  cursor: pointer;
  padding: 12px 32px;
  transition: background-color 0.2s;
}

.edit > nav ul li:hover,
.edit > nav ul li.active {
  background-color: var(--secondary);
}

.edit > nav ul li:not(:last-child) {
  border-bottom: 1px solid var(--secondary);
}

.edit > nav ul li.active * {
  font-weight: 800;
}

.edit > nav ul li > p {
  margin: 0;
  letter-spacing: 2px;
}

.edit > nav ul li > i {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
  margin-right: 32px;
  width: 20px;
  height: 20px;
}

/* CONTENT */
.edit > form {
  padding: 20px;
}

.edit #main-content h1 {
  margin-bottom: 20px;
}

.edit #main-content > *:not(:first-child) {
  display: none;
}

/* CONTENT - EDITABLE HEADERS */
.edit .editable-header {
  margin-bottom: 20px;
  border: 0;
  font-size: 2em;
  font-weight: bold;
  width: 100%;
  padding: 0;
}

/* CONTENT - PROFILE */
.edit #main-content .profile-header {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.edit #main-content .profile-avatar {
  position: relative;
  width: 150px;
  height: 150px;

  border-radius: 50%;
  overflow: hidden;
}

.edit #main-content .profile-avatar .avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary);
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: pointer;
}

.edit #main-content .profile-avatar img {
  width: 100%;
}

.edit #main-content .profile-avatar figcaption {
  position: absolute;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transition: all ease-in-out 0.2s;
  background-color: rgba(62, 74, 86, 0);

  width: 100%;
  height: 100%;
  border-radius: 50%;

  color: var(--white);
}

.edit #main-content .profile-avatar figcaption:hover {
  opacity: 1;
  background-color: rgba(62, 74, 86, 0.5);
}

.edit #main-content .profile-avatar input[type="file"] {
  display: none;
}

/* CONTENT - INFO */
.edit #main-content .items-list {
  margin-top: 20px;
}
.edit #main-content .items-list.multiple-row .item {
  position: relative;
  border: 1px solid var(--secondary);
  padding: 10px;
  border-radius: 8px;
}

.edit #main-content .items-list .item:not(:first-child) {
  margin-top: 14px;
}

.edit #main-content .items-list .item:not(:last-child) {
  margin-bottom: 8px;
}

.edit #main-content .items-list.multiple-row > * .btn-danger {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-transform: uppercase;
  transform: translate(50%, -50%);
}

.edit #main-content .items-list:not(.multiple-row) > * .btn-danger {
  flex: 0;
  min-width: 50px;
}

@media only screen and (max-width: 768px) {
  .edit {
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
  }

  .edit > * {
    width: 100%;
  }

  .edit nav {
    position: relative;
    top: 0px;
  }

  .edit nav > ul {
    display: flex;
  }

  .edit nav > ul > li {
    display: flex;
    justify-content: center;
    padding: 8px 0;
    flex: 1;
  }

  .edit nav > ul > li > i {
    margin: 0;
  }

  .edit nav > ul > li > p {
    display: none;
  }

  .edit #main-content .profile-header {
    align-items: center;
    flex-direction: column;
  }
  .edit #main-content .profile-avatar {
    width: 100px;
    height: 100px;
  }
}
