.curriculum {
  display: flex;
  align-items: flex-start;
  gap: 32px;

  margin-top: 32px;
}

.curriculum > .col {
  background: white;
  border: 1px solid var(--primary);
  border-radius: 8px;
}

.curriculum > .col:first-child {
  flex: 1;
}

.curriculum > .col:last-child {
  flex: 2;
}

/* NAVIGATION */
.curriculum > nav {
  position: sticky;
  top: 32px;
  overflow: hidden;
}

.curriculum > nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.curriculum > nav ul li {
  display: flex;

  cursor: pointer;
  padding: 12px 32px;
  transition: background-color 0.2s;
}

.curriculum > nav ul li:hover,
.curriculum > nav ul li.active {
  background-color: var(--secondary);
}

.curriculum > nav ul li:not(:last-child) {
  border-bottom: 1px solid var(--secondary);
}

.curriculum > nav ul li.active * {
  font-weight: 800;
}

.curriculum > nav ul li > p {
  margin: 0;
  letter-spacing: 2px;
}

.curriculum > nav ul li > i {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
  margin-right: 32px;
  width: 20px;
  height: 20px;
}

/* CONTENT */
.curriculum > form {
  padding: 20px;
}

.curriculum #main-content h1 {
  margin-bottom: 20px;
}

.curriculum #main-content > *:not(:first-child) {
  display: none;
}

/* CONTENT - PROFILE */
.curriculum #main-content .profile-header {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.curriculum #main-content .profile-avatar {
  position: relative;
  width: 150px;
  height: 150px;

  border-radius: 50%;
  overflow: hidden;
}

.curriculum #main-content .profile-avatar .avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary);
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: pointer;
}

.curriculum #main-content .profile-avatar img {
  width: 100%;
}

.curriculum #main-content .profile-avatar figcaption {
  position: absolute;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transition: all ease-in-out 0.2s;
  background-color: rgba(62, 74, 86, 0);

  width: 100%;
  height: 100%;
  border-radius: 50%;

  color: white;
}

.curriculum #main-content .profile-avatar figcaption:hover {
  opacity: 1;
  background-color: rgba(62, 74, 86, 0.5);
}

.curriculum #main-content .profile-avatar input[type="file"] {
  display: none;
}
