#landing h1 {
  font-size: 74px;
  font-weight: 900;
  line-height: 4rem;
}

#landing h2 {
  font-size: 32px;
}

section.full-page {
  padding: 80px 0 120px;
  min-height: calc(100vh - 106px);
}

#landing {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#landing .container {
  position: relative;
}

#landing .cta {
  margin-top: 16px;
  display: flex;
  gap: 8px;
}

#landing p {
  margin-top: 8px;
  font-size: 18px;
}

#landing .content {
  max-width: 500px;
}

#landing .btn {
  font-size: 18px;
  padding: 8px 16px;
}

#landing .banner {
  position: absolute;
  right: 0;
  top: -30px;
  z-index: -1;
  max-width: 600px;

  opacity: 0.7;
}

body.darkmode #landing .banner {
  filter: grayscale(1);
  opacity: 0.3;
}

@media only screen and (max-width: 992px) {
  #landing .banner {
    opacity: 0.3;
  }

  body.darkmode #landing .banner {
    opacity: 0.1;
  }
}

@media only screen and (max-width: 768px) {
  #landing .banner {
    max-width: 500px;
    right: -50px;
    opacity: 0.3;
  }
}

@media only screen and (max-width: 576px) {
  #landing .banner {
    max-width: 500px;
    right: -200px;
  }

  #landing h1 {
    font-size: 54px;
    line-height: 3rem;
  }

  #landing h2 {
    font-size: 24px;
  }
}
