/* LOGIN */
.login {
  padding: 20px;
  width: 100%;
  max-width: 500px;
  background-color: var(--white);
  border-radius: 12px;
  border: 1px solid var(--primary);
  margin-top: 30px;
}

.login h1 {
  text-align: center;
  margin: 0;
}

.login p {
  text-align: center;
  margin: 0;
}

.login .login-header {
  margin-bottom: 22px;
}

.login .copyright {
  margin-top: 12px;
}
