:root {
  --primary: #3e4a56;
  --secondary: #e2e3e5;
  --background: #f1f1f1;
  --danger: #ff4747;
  --light-danger: #f8d7da;
  --dark-danger: #721c24;
  --warning: #ffc100;
  --light-warning: #fff3cd;
  --dark-warning: #856404;
  --success: #57b657;
  --light-success: #d4edda;
  --dark-success: #155724;
  --white: white;
  --dark-primary: #1e252b;
}

html {
  font-family: "Nunito", sans-serif;
  color: var(--primary);
}

body.darkmode {
  --primary: #d3d2d1;
  --secondary: #8b8b8b;
  --dark-primary: #bebebe;
  --background: #121212;
  --white: #242424;
  --banner: #242424;
}

body {
  margin: 0;
  color: var(--primary);
  background-color: var(--background);
  min-width: 375px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--primary);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* LAYOUTS */
.container {
  padding-right: 16px;
  padding-left: 16px;

  margin-right: auto;
  margin-left: auto;
  max-width: 1150px;
  width: 100%;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.vw-100 {
  width: 100vw;
}

.vh-100 {
  height: 100vh;
}

.min-vw-100 {
  min-width: 100vw;
}

.min-vh-100 {
  min-height: 100vh;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

/* TEXT */
.text-end {
  text-align: end;
}

.text-center {
  text-align: center;
}

/* COLORS */
.color-success {
  color: var(--success);
}

.color-danger {
  color: var(--danger);
}

.color-warning {
  color: var(--warning);
}

/* BUTTONS */
.btn {
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: var(--white);
  line-height: 1.5rem;
  font-size: 0.9rem;
  margin: 0;

  transition: background-color 0.2s;
}

.btn:hover {
  background-color: var(--dark-primary);
  border-color: var(--dark-primary);
}

.btn-danger {
  border: 1px solid var(--danger);
  background-color: var(--danger);
}

.btn-danger:hover {
  background-color: #e23e3e;
  border-color: #e23e3e;
}

/* FORMS */
.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

.form-row:not(:last-child) {
  margin-bottom: 8px;
}

.form-row > * {
  flex: 1;
}

.form-group {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form-group label {
  position: absolute;
  top: 8px;
  left: 10px;
  font-size: 16px;
  line-height: 2rem;
  padding: 0 4px;

  pointer-events: none;
  transition: transform 0.2s, top 0.2s, left 0.2s;
}

.form-group select {
  height: 100%;
}

.form-group.select-icon i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;

  width: 16px;
  height: 16px;
}

.form-group.select-icon select {
  padding-left: 32px;
}

.form-group label + input::-webkit-input-placeholder,
.form-group label + textarea::-webkit-input-placeholder {
  opacity: 0;
}

.form-group label:has(+ select),
.form-group select + label,
.form-group label:has(+ input:not(:placeholder-shown)),
.form-group input:not(:placeholder-shown) + label,
.form-group label:has(+ textarea:not(:placeholder-shown)),
.form-group textarea:not(:placeholder-shown) + label,
.form-group input:focus + label,
.form-group label:has(+ input:focus),
.form-group textarea:focus + label,
.form-group label:has(+ textarea:focus) {
  top: -2px;
  left: 0;
  line-height: 1rem;
  transform: scale(0.8) translateY(-50%);
  background-color: var(--white);
}

form input,
form textarea,
form select {
  border-radius: 8px;
  border: 1px solid var(--primary);
  padding: 8px 12px;
  font-size: 16px;
  line-height: 2rem;
  background-color: var(--white);
  font-family: "Nunito", sans-serif;
  color: var(--primary);
  resize: none;
}

form input:-webkit-autofill,
form input:-webkit-autofill:focus,
form textarea:-webkit-autofill,
form textarea:-webkit-autofill:focus,
form select:-webkit-autofill,
form select:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

form input[data-autocompleted],
form textarea[data-autocompleted] {
  background-color: var(--white);
}

form .form-row:not(:first-child) {
  margin-top: 14px;
}

form button[type="submit"] {
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: var(--white);
  line-height: 1.5rem;

  transition: background-color 0.2s;
}

form button[type="submit"]:hover {
  background-color: var(--dark-primary);
}

button.icon {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.form-checkbox {
  display: flex;
  align-items: center;
}

.form-checkbox > * {
  cursor: pointer;
}

.form-checkbox label {
  padding: 0 8px;
}

.form-checkbox input[type="checkbox"] {
  width: 16px;
  height: 16px;
}

/* MODAL */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;

  z-index: 999;

  opacity: 0;
  pointer-events: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal.show {
  opacity: 1;
  pointer-events: all;
}

.modal .modal-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;

  background-color: var(--dark-primary);
  opacity: 0.47;
  z-index: -1;
}

.modal .modal-wrapper {
  position: relative;
  width: 478px;
  border-radius: 12px;
  background-color: var(--white);
  border: 1px solid var(--secondary);

  transform: scale(0);
  -webkit-transform: scale(0);
  transform-origin: 50% 50%;
  -webkit-origin: 50% 50%;
  transition: transform 0.3s, -webkit-transform 0.3s;

  margin: 0 16px;
}

.modal.show .modal-wrapper {
  transform: scale(1);
}

.modal .modal-title {
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid var(--secondary);
}

.modal .modal-close {
  position: absolute;
  top: 23px;
  right: 20px;

  cursor: pointer;
}

.modal .modal-body {
  padding: 20px;
}

.modal .modal-wrapper input {
  width: 100%;
}

/* FLOATING BUTTON */
.floating-button {
  position: fixed;
  bottom: 35px;
  right: 35px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 0;

  background-color: var(--primary);
  color: var(--white);
  cursor: pointer;
}

.floating-button.floating-button-left {
  right: auto;
  left: 35px;
}

/* NAVBAR */
.navbar {
  margin: auto;
  border: 1px solid var(--primary);
  margin-bottom: 16px;
  background-color: var(--white);
  border-radius: 8px;
  width: 100%;
  max-width: 100% !important;
}

.navbar .navbar-wrapper {
  display: flex;
  align-items: center;

  padding: 20px;
  gap: 8px;
}

.navbar .navbar-wrapper > * {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;

  flex: 1;
}

.navbar .navbar-wrapper > *:last-child {
  justify-content: flex-end;
}

.navbar .navbar-wrapper * {
  margin: 0;
}

/* ALERT */
.alert {
  padding: 12px 20px;
  background-color: var(--secondary);
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 8px;
}

.alert.alert-success {
  color: var(--dark-success);
  background-color: var(--light-success);
  border-color: var(--success);
}

.alert.alert-danger {
  color: var(--dark-danger);
  background-color: var(--light-danger);
  border-color: var(--danger);
}

.alert.alert-warning {
  color: var(--dark-warning);
  background-color: var(--light-warning);
  border-color: var(--warning);
}

/* EMPTY STATES */
.empty-state {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;

  max-width: 350px;
}

.empty-state * {
  text-align: center;
}

.empty-state h3 {
  font-size: 1.5rem;
  margin: 4px 0;
}

/* CURRICULUMS */
.curriculums {
  margin-top: 32px;
}

.curriculums .title {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0 0 16px;
}

.curriculums-list {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.curriculums-list .curriculum {
  display: flex;
  flex-direction: column;

  border: 1px solid var(--secondary);
  border-radius: 8px;
  background-color: var(--white);

  padding: 20px;
  max-width: 500px;
  min-width: 250px;
}

.curriculums-list .curriculum .curriculum-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
}

.curriculums-list .curriculum .curriculum-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary);
  width: 120px;
  height: 120px;
  min-width: 120px;
  min-height: 120px;
  overflow: hidden;
  border-radius: 50%;
}

.curriculums-list .curriculum .curriculum-avatar img {
  width: 100%;
  min-height: 100%;
}

.curriculums-list .curriculum .curriculum-info * {
  margin: 0;
  text-align: center;
}

.curriculums-list .curriculum .curriculum-options {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;

  margin-top: auto;
  padding-top: 8px;
  border-top: 1px solid var(--secondary);
}

.curriculums-list .curriculum .curriculum-options .curriculum-user {
  margin-right: auto;
}

@media only screen and (max-width: 768px) {
  .curriculums .title {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media only screen and (max-width: 576px) {
  .curriculums-list {
    flex-direction: column;
    align-items: flex-start;
  }

  .curriculums-list .curriculum {
    width: 100%;
    min-width: 100%;
  }

  .curriculums-list .curriculum .curriculum-body {
    flex-direction: row;
    justify-content: flex-start;
  }

  .curriculums-list .curriculum .curriculum-avatar {
    width: 60px;
    height: 60px;
    min-width: 60px;
    min-height: 60px;
  }

  .curriculums-list .curriculum .curriculum-options {
    justify-content: flex-start;
  }

  .curriculums-list .curriculum .curriculum-info * {
    text-align: start;
  }
}

/* SLIDER CHECKBOX */
.switch {
  display: inline-block;
  height: 24px;
  position: relative;
  width: 42px;
}

.switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: var(--background);
  bottom: 4px;
  content: "";
  height: 16px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 16px;
}

input:checked + .slider {
  background-color: var(--primary);
}

input:checked + .slider:before {
  transform: translateX(18px);
}

.slider.round {
  border-radius: 999px;
}

.slider.round:before {
  border-radius: 50%;
}

.darkmode-switch {
  display: flex;
  align-items: center;
  gap: 8px;
}
